@import '../css/media.scss';
@import '../css/reset.scss';

.container {
    position: relative;
    z-index: 1;
    overflow: hidden;

    background-color: pink;
    .p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .anh_1 {
            @include xs {
                width: 100%;
                height: 100%;
            }
            @include sm {
                width: 100%;
                height: 100%;
            }
            @include lg {
                width: 960px;
                // height: 500px;
                // object-fit: cover;
            }
        }
        .anh_3 {
            @include xs {
                width: 100%;
                height: 100%;
            }
            @include sm {
                width: 100%;
                height: 100%;
            }
            @include lg {
                width: 960px;
                height: 100%;
            }
        }
        // .anh_5 {
        //   @include xs {
        //     width: 100%;
        //     height: 100%;
        //   }
        //   @include sm {
        //     width: 100%;
        //     height: 100%;
        //   }
        //   @include lg {
        //     width: 960px;
        //     height: 168px;
        //   }
        // }
        // .anh_6 {
        //   @include xs {
        //     width: 100%;
        //     height: 100%;
        //   }
        //   @include sm {
        //     width: 100%;
        //     height: 100%;
        //   }
        //   @include lg {
        //     width: 960px;
        //     height: 545px;
        //   }
        // }
        // .anh_7 {
        //   @include xs {
        //     width: 100%;
        //     height: 100%;
        //   }
        //   @include sm {
        //     width: 100%;
        //     height: 100%;
        //   }
        //   @include lg {
        //     width: 960px;
        //     height: 743px;
        //   }
        // }
        // .anh_8 {
        //   @include xs {
        //     width: 100%;
        //     height: 100%;
        //   }
        //   @include sm {
        //     width: 100%;
        //     height: 100%;
        //   }
        //   @include lg {
        //     width: 960px;
        //     height: 528px;
        //   }
        // }
    }

    .form {
        position: relative;
        .info {
            position: absolute;
            @include xs {
                right: 10%;
                top: 53%;
                width: 30%;
            }
            @include sm {
                right: 10%;
                top: 53%;
                width: 30%;
            }
            @include lg {
                top: 65%;
                left: 73%;
                transform: translate(-50%, -50%);
                max-width: 260px;
            }
            @include xl {
                transform: translate(-80%, -50%);
            }
        }
        .btn-info {
        }
    }
}
