@import '../css/media.scss';
@import '../css/reset.scss';

.modal-quay {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .anh-modal {
        @include xs {
            width: 90vw;
            height: 50vh;
        }
        @include sm {
            width: 80vw;
            height: 100%;
        }
        @include md {
            width: 80vw;
            height: 60vh;
        }
        @include lg {
            width: 800px;
            height: 450px;
        }
    }

    .vongquay-modal {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        @include xs {
            //margin-left: 50%;
        }
        @include sm {
            margin-left: 50%;
        }
        @include lg {
            right: 10%;
            top: 15%;
        }
        #arrow-modal {
            position: absolute;
            top: 1%;
            z-index: 1;
            @include xs {
                border-top: 30px solid #a73b96;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
            }
            @include sm {
                border-top: 40px solid #a73b96;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
            }
            @include lg {
                border-top: 40px solid #a73b96;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
            }
        }
        .anh-vongquay-modal {
            @include xs {
                // width: 90%;
                // height: 100%;
                width: 60%;
            }
            @include sm {
                width: 80%;
                height: 50%;
            }
            @include lg {
                width: 300px;
                height: 300px;
            }
        }
        .btXoay {
            position: absolute;
            text-align: center;
            cursor: pointer;
            @include xs {
                //margin-right: 20%;
            }
            @include sm {
            }
            @include lg {
            }
            .anh_btn-quay {
                @include xs {
                    height: 30px;
                    width: 30px;
                    &:hover {
                        transform: scale(1.5);
                        transition: 0.5s;
                    }
                }
                @include sm {
                    height: 40px;
                    width: 40px;
                    &:hover {
                        transform: scale(1.5);
                        transition: 0.5s;
                    }
                }
                @include lg {
                    height: 40px;
                    width: 40px;
                    &:hover {
                        transform: scale(1.5);
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    .btn-cancel {
        @include xs {
            position: absolute;
            font-size: 20px;
            top: 5px;
            right: 4px;
            color: rgb(225, 220, 220);
            cursor: pointer;
        }
        @include sm {
            position: absolute;
            font-size: 40px;
            top: 5px;
            right: 4px;
            color: rgb(225, 220, 220);
            cursor: pointer;
        }
    }
}
