@import '../css/media.scss';
@import '../css/reset.scss';

.modal-quay {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .anh-modal {
        @include xs {
            width: 90vw;
            height: 50vh;
        }
        @include sm {
            width: 80vw;
            height: 100%;
        }
        @include lg {
            width: 800px;
            height: 450px;
        }
    }

    .vongquay-modal {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        @include xs {
            //margin-left: 50%;
        }
        @include sm {
            margin-left: 50%;
        }
        @include lg {
            right: 10%;
            top: 15%;
        }
        #arrow-modal {
            position: absolute;
            top: 1%;
            z-index: 1;
            @include xs {
                border-top: 30px solid #a73b96;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
            }
            @include sm {
                border-top: 40px solid #a73b96;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
            }
            @include lg {
                border-top: 40px solid #a73b96;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
            }
        }
        .anh-vongquay-modal {
            @include xs {
                width: 90%;
                height: 100%;
            }
            @include sm {
                width: 80%;
                height: 50%;
            }
            @include lg {
                width: 300px;
                height: 300px;
            }
        }
        .btXoay {
            position: absolute;
            text-align: center;
            background-color: #fd79a8;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            @include xs {
                padding: 3%;
                bottom: -20%;

                &:hover {
                    background-color: #e419c6;
                }
            }
            @include sm {
                padding: 2%;
                bottom: -15%;
                &:hover {
                    background-color: #e419c6;
                }
            }
            @include lg {
                padding: 10px 20px;
                font-size: 20px;
                bottom: -15%;
                &:hover {
                    background-color: #e419c6;
                }
            }
        }
    }
    .btn-cancel {
        @include xs {
            position: absolute;
            font-size: 20px;
            top: 5px;
            right: 4px;
            color: rgb(225, 220, 220);
            cursor: pointer;
        }
        @include sm {
            position: absolute;
            font-size: 40px;
            top: 5px;
            right: 4px;
            color: rgb(225, 220, 220);
            cursor: pointer;
        }
    }
}
