@import '../css/media.scss';
@import '../css/reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
.form {
    font-family: 'Roboto';
    @include xs {
        width: 100%;
    }
    @include sm {
        width: 100%;
    }
    @include lg {
        width: 100%;
    }
    .field {
        display: block;
        border-radius: 2px;
        font-family: 'Roboto';
        @include xs {
            padding: 2%;
            margin-bottom: 5px;
            //width: 200px;
            width: 100%;
        }
        @include sm {
            padding: 4%;
            margin-bottom: 5px;
            width: 100%;
            //width: 250px;
        }
        @include lg {
            padding: 4%;
            margin-bottom: 5px;
            width: 260px;
        }
    }

    .btn-ok {
        border-radius: 3px;
        color: white;
        background-color: #e1b12c;
        width: fit-content;
        cursor: pointer;
        &:hover {
            background-color: #c59513;
        }
        @include xs {
            margin-top: 3%;
            padding: 2% 5%;
        }
        @include sm {
            margin-top: 1%;
            padding: 2% 5%;
        }
        @include lg {
            margin-top: 3%;
            padding: 3% 5%;
        }
    }
}
