@import '../css/media.scss';
@import '../css/reset.scss';

.form {
    @include xs {
        width: 100%;
    }
    @include sm {
        width: 100%;
    }
    @include lg {
        width: 100%;
    }
    .field {
        display: block;
        width: 100%;
        border-radius: 2px;
        @include xs {
            padding: 2%;
            margin-bottom: 5px;
        }
        @include sm {
            padding: 2%;
            margin-bottom: 5px;
        }
        @include lg {
            padding: 2%;
            margin-bottom: 5px;
            max-width: 260px;
        }
    }

    .btn-ok {
        border-radius: 5px;
        color: white;
        background-color: #e1b12c;
        width: fit-content;
        cursor: pointer;
        &:hover {
            background-color: #c59513;
        }
        @include xs {
            margin-top: 3%;
            padding: 2%;
        }
        @include sm {
            margin-top: 1%;
            padding: 2%;
        }
        @include lg {
            margin-top: 3%;
            padding: 3%;
        }
    }
}
