@import '../css/media.scss';
@import '../css/reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
.modal {
    font-family: 'Roboto';
    .blur {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #ccc;
    }
    .content {
        @include xs {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            width: 90%;
            //height: 45%;
            height: 270px;
        }
        @include sm {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            width: 90%;
            height: 35%;
            @media (orientation: landscape) {
                width: 90%;
                height: 95%;
            }
        }
        @include md {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            width: 90%;
            height: 35%;
            @media (orientation: landscape) {
                width: 80vw;
                height: 90vh;
            }
        }
        @include lg {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            width: 60%;
            height: 60%;
            // width: 90%;
            // height: 30%;
        }
        @include xl {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            width: 55%;
            height: 63%;
        }
        .logo {
            cursor: pointer;
            @include xs {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 15%;
            }
            @include sm {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 15%;
            }
            @include xl {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 20%;
            }
        }
        .anh-ketqua {
            @include xs {
                width: 100%;
                height: 100%;
            }
            @include sm {
                width: 100%;
                height: 100%;
            }
            @include md {
                width: 100%;
                height: 100%;
            }
            @include lg {
                width: 100%;
                height: 100%;
            }
        }
        .btn-cancel {
            color: rgb(232, 229, 229);
            @include xs {
                position: absolute;
                top: 5px;
                right: 1px;
                font-size: 40px;
                &:hover {
                    color: rgb(244, 75, 103);
                }
                cursor: pointer;
            }
            @include sm {
                position: absolute;
                top: 5px;
                right: 1px;
                font-size: 40px;
                &:hover {
                    color: rgb(244, 75, 103);
                }
                cursor: pointer;
            }
            @include lg {
                position: absolute;
                font-size: 50px;
                top: 10px;
                right: 4px;
                &:hover {
                    color: rgb(244, 75, 103);
                }
                cursor: pointer;
            }
        }
        .gift {
            border-radius: 7px;
            background-color: #e45eb1;
            text-align: center;
            @include xs {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 10px 20px;
                width: 60%;
            }
            @include sm {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 10px 40px;
            }
            @include md {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 10px 60px;
            }
            @include lg {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 10px 40px;
            }
            @include xl {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 10px 60px;
            }
            p {
                color: #feca57;
                text-align: center;
                @include xs {
                    font-size: 14px;
                }
                @include sm {
                    font-size: 18px;
                }
                @include lg {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
            span {
                color: blue;
                text-transform: capitalize;
                @include xs {
                }
                @include sm {
                }
                @include lg {
                    font-size: 20px;
                }
            }
        }
        .info {
            // .text {
            //     color: #e67e22;
            //     text-transform: capitalize;
            //     margin-bottom: 10px;
            //     text-align: center;
            //     @include xs {
            //         display: none;
            //     }
            //     @include sm {
            //     }
            //     @include lg {
            //         font-size: 18px;
            //     }
            // }

            @include xs {
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @include sm {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @include lg {
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @include xl {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .call {
            @include xs {
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            @include sm {
                position: absolute;
                top: 88%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            @include lg {
                position: absolute;
                top: 93%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @include xl {
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            p {
                text-transform: capitalize;
                color: #000000;
                animation: text 2s forwards infinite ease;
                text-align: center;
                //z-index: 5;
                @include xs {
                    font-size: 10px;
                }
                @include sm {
                    font-size: 14px;
                }
                @include lg {
                    font-size: 16px;
                }
            }
        }
    }
}
@keyframes text {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
