@import '../css/media.scss';
@import '../css/reset.scss';
.vongquay-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .anh_2 {
        @include xs {
            width: 100%;
            height: 100%;
        }
        @include sm {
            width: 100%;
            height: 100%;
        }
        @include lg {
            width: 960px;
            height: 540px;
        }
    }

    .vongquay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        @include xs {
            margin-left: 50%;
        }
        @include sm {
            margin-left: 50%;
        }
        @include lg {
            margin-left: 26%;
        }
        #arrow {
            @include xs {
                position: absolute;
                z-index: 1;
                top: 0;
                margin-left: -20%;
                border-top: 30px solid #a73b96;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
            }
            @include sm {
                position: absolute;
                z-index: 1;
                top: 0;
                border-top: 40px solid #a73b96;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
            }
            @include lg {
                position: absolute;
                top: 1%;
                z-index: 1;
                border-top: 40px solid #a73b96;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
            }
        }
        .anh_vongquay {
            @include xs {
                width: 110%;
                height: 100%;
                margin-right: 20%;
            }
            @include sm {
                width: 95%;
                height: 50%;
            }
            @include lg {
                // width: 350px;
                // height: 350px;
                width: 80%;
                //height: 50%;
            }
        }
        .btXoay {
            position: absolute;
            text-align: center;
            cursor: pointer;
            @include xs {
                margin-right: 20%;
            }
            @include sm {
            }
            @include lg {
            }
            .anh_btn-quay {
                @include xs {
                    height: 30px;
                    width: 30px;
                    &:hover {
                        transform: scale(1.5);
                        transition: 0.5s;
                    }
                }
                @include sm {
                    height: 40px;
                    width: 40px;
                    &:hover {
                        transform: scale(1.5);
                        transition: 0.5s;
                    }
                }
                @include lg {
                    height: 50px;
                    width: 50px;
                    &:hover {
                        transform: scale(1.5);
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}
