@import '../css/media.scss';
@import '../css/reset.scss';
.vongquay-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .anh_2 {
        @include xs {
            width: 100%;
            height: 100%;
        }
        @include sm {
            width: 100%;
            height: 100%;
        }
        @include lg {
            width: 960px;
            height: 540px;
        }
    }

    .vongquay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        @include xs {
            margin-left: 50%;
        }
        @include sm {
            margin-left: 50%;
        }
        @include lg {
            margin-left: 26%;
        }
        #arrow {
            @include xs {
                position: absolute;
                z-index: 1;
                top: 0;
                margin-left: 5px;
                border-top: 30px solid #a73b96;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
            }
            @include sm {
                position: absolute;
                z-index: 1;
                top: 0;
                border-top: 40px solid #a73b96;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
            }
            @include lg {
                position: absolute;
                top: 1%;
                z-index: 1;
                border-top: 40px solid #a73b96;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
            }
        }
        .anh_vongquay {
            @include xs {
                width: 80%;
                height: 50%;
            }
            @include sm {
                width: 80%;
                height: 50%;
            }
            @include lg {
                width: 350px;
                height: 350px;
            }
        }
        .btXoay {
            position: absolute;
            text-align: center;
            background-color: #fd79a8;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            @include xs {
                padding: 1%;
                bottom: -20%;
                &:hover {
                    background-color: #e419c6;
                }
            }
            @include sm {
                padding: 2%;
                bottom: -15%;
                &:hover {
                    background-color: #e419c6;
                }
            }
            @include lg {
                padding: 10px 20px;
                font-size: 20px;
                bottom: -15%;
                &:hover {
                    background-color: #e419c6;
                }
            }
        }
    }
}
